# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ObstacleCourseBookProject.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\GameDevelopment\UnityBuilds\ForsbergExercises\ObstacleCourseBookProject\.idea\.idea.ObstacleCourseBookProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
